@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import url("normalize.css");
@import url("skeleton.css");
@import url("selectize.css");
@import url("rangeslider.css");

body {
    font-size: 13px;
    font-family: "Open Sans";
}

header {
      margin-top: 8rem;
}

p {
  font-size: 16px;
}

.spacer {
  margin: 3em 0 3em 0;
}

.text-right {
  text-align: right;
}

.main-heading {
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 4px;
    border-bottom: 1px solid #9e9e9e;
    font-size: 32px;
    background: #5796db;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;

}


.unix-ts-display > input {
  font-size: 16px;
  width: 290px;
  text-align: center;
}

#ts-timezones {
  font-size: 16px;
}

.unix-ts-label  {
    background-color: #37B38B;
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    width: 270px;
    min-height: 27px;
    text-align: center;
}

.unix-ts-info {
    background: #465fe0;
    color: #FFFFFF;
    padding: 2px 0px 2px 0px !important;
    border-radius: 3px;
    text-align: center;
    width: 140%;
    margin-top: -5px;
    margin-left: -10px;
}

.slide-blue + .rangeslider > .rangeslider__fill {
  background: #12a0d6;
}

.slide-blue + .rangeslider > .rangeslider__handle:after {
  background: #12a0d6;
}

.swap-button {
  font-size: 18px;
  cursor: pointer;
}